artifacts/
**/server
**/server.exe
*.local.json
*.log
*.nsp
*.xci
*.nca
*.ips
*.keys
*.pem
*.pfx
*.zip
*.exe
*.dll
.env
**/artifacts/
**/profiles/
work/
*.rom
*.nes
*.sfc
*.smc
*.gba
*.gb
*.gbc
*.z64
*.n64
*.v64
*.nso
*.nro
*.elf
*.bin
*.p12
*.pcap
*.pcapng
*.mp4
*.png
*.jpg
*.7z
*.tar
*.gz
